{% block body_html %}
    <p><strong>Name: </strong>{{contact.nom}}</p>
    <p><strong>Firstname : </strong>{{contact.prenom}}</p>
    <p><strong>Email : </strong>{{contact.email}}</p>
    <p>{{contact.message }}</p>
{% endblock %}